/*
 * DOCSMOREAPI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using DOCSMOREAPI.PCL;
using DOCSMOREAPI.PCL.Utilities;
using DOCSMOREAPI.PCL.Http.Request;
using DOCSMOREAPI.PCL.Http.Response;
using DOCSMOREAPI.PCL.Http.Client;
using DOCSMOREAPI.PCL.Exceptions;

namespace DOCSMOREAPI.PCL.Controllers
{
    public partial class DOCUMENTFLOWSController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static DOCUMENTFLOWSController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static DOCUMENTFLOWSController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new DOCUMENTFLOWSController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Document Flow Collection
        /// </summary>
        /// <return>Returns the List<Models.DocumentFlowCollectionResponse> response from the API call</return>
        public List<Models.DocumentFlowCollectionResponse> GetDocumentFlowCollection()
        {
            Task<List<Models.DocumentFlowCollectionResponse>> t = GetDocumentFlowCollectionAsync();
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Document Flow Collection
        /// </summary>
        /// <return>Returns the List<Models.DocumentFlowCollectionResponse> response from the API call</return>
        public async Task<List<Models.DocumentFlowCollectionResponse>> GetDocumentFlowCollectionAsync()
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/api/docflow/getdocflows");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<List<Models.DocumentFlowCollectionResponse>>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 